.playlist {
  &-tabs {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    font-size: 13px;
    row-gap: 10px;
    margin-left: -10px;
    @media (min-width: 1190px) {
      grid-template-columns: repeat(7, 1fr);
      .playlist-tabs-item:nth-last-child(-n + 3) {
        display: none;
      }
    }
    @media (max-width: 1190px) {
      .playlist-tabs-item:nth-last-child(-n + 5) {
        display: none;
      }
    }
    .playlist-tabs-item:last-child {
      display: unset;
    }
    &-item {
      text-align: center;
      background: #303031;
      border-radius: 5px;
      height: 32px;
      line-height: 32px;
      margin-left: 10px;
      cursor: pointer;
      &:hover {
        background: #3b3b3c;
        color: var(--color-primary);
      }
    }
  }
  &-content {
    &--title {
      display: flex;
      justify-content: space-between;
      &__order {
        display: flex;
        text-align: right;
        font-size: 12px;
        margin: 20px 0;
        li {
          margin-right: 32px;
          color: #8f8f8f;
          cursor: pointer;
          &:hover {
            color: var(--color-primary);
          }
        }
        li.active-order {
          color: var(--color-primary);
        }
      }
    }
    &-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      @media (min-width: 1190px) {
        grid-template-columns: repeat(5, 1fr);
      }
      @media (min-width: 1370px) {
        grid-template-columns: repeat(6, 1fr);
      }
      &-item {
        .playlist-cover--title,
        .playlist-cover--creator {
          display: inline-block;
          width: 100%;
          font-size: 13px;
          font-weight: bold;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .playlist-cover--creator {
          font-weight: normal;
          color: #8f8f8f;
        }
      }
    }
  }
}
