.singer-choiceness {
  &__header {
  }
  &__tittle {
    display: flex;
    align-items: center;
    margin-top: 27px;
    h3 {
      margin: 0 20px 0 0;
      font-size: 21px;
    }
    .play-icon {
      vertical-align: bottom;
      @media (prefers-color-scheme: dark) {
        filter: invert(1);
      }
    }
  }
  .songlist {
    &-item {
      grid-template-columns: 60% 1fr 80px;
      column-gap: 5px;
    }
    &-item.active-song {
      color: var(--color-primary);
      .controls-icon {
        margin-left: 13px;
        cursor: pointer;
        overflow: hidden;
        .icon-inner {
          vertical-align: middle;
        }
        filter: invert(0);
        .icon-inner {
          transform: translateY(-40px);
          filter: drop-shadow(0 40px var(--color-primary));
        }
      }
    }
  }
}
