@import 'common/style/index.scss';
.cover-item {
  flex-shrink: 0;
  padding-left: 20px;
  font-size: 13px;
  width: 16.67%;
  @media (max-width: 1370px) {
    width: 20%;
  }
  @media (max-width: 1190px) {
    width: 25%;
  }
  &--bg {
    position: relative;
    cursor: pointer;
    transition: all 0.2s;
    > img {
      width: 100%;
      border-radius: 10px;
    }
    &:hover {
      transform: translateY(-10px);
      & > img {
        filter: brightness(0.6);
      }
      .cover-play--control {
        filter: brightness(1);
        opacity: 1;
      }
    }
    .cover-play--control {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all 0.2s;
      overflow: hidden;
      &:hover {
        img {
          transform: translateX(-50px);
          filter: drop-shadow(50px 0 color(primary));
        }
      }
    }
  }
  .cover-title,
  .cover-authors,
  .cover-createdAt {
    display: inline-block;
    width: 100%;
    font-weight: 600;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    .singer-name {
      cursor: pointer;
      color: #8f8f8f;
      &:hover {
        color: color(primary);
      }
    }
  }
  .cover-title:hover {
    cursor: pointer;
    color: color(primary);
  }
  .cover-createdAt {
    color: #8f8f8f;
  }
}

.newest {
  &-title {
    position: relative;
    display: flex;
    align-items: baseline;
    font-size: 13px;
    h2 {
      margin: 20px 0 0;
      font-size: 24px;
      margin-right: 20px;
    }
    &--lanlist {
      display: flex;
      font-size: 12px;
      line-height: 24px;
      li {
        cursor: pointer;
        margin-right: 30px;
        &:hover {
          color: color(primary);
        }
      }
      .current {
        color: color(primary);
      }
    }
    &--more {
      position: absolute;
      right: 0;
      cursor: pointer;
      .more-right-icon {
        vertical-align: top;
        @media (prefers-color-scheme: dark) {
          filter: invert(0.8);
        }
      }
      &:hover {
        color: color(primary);
        .more-right-icon {
          transform: translateX(-1px);
          filter: drop-shadow(1px 0 color(primary));
        }
      }
    }
  }
  &-swipe {
    position: relative;
    &:hover {
      .swipe-control--left,
      .swipe-control--right {
        display: unset;
      }
    }
    .swipe-control--left,
    .swipe-control--right {
      position: absolute;
      top: calc(50% - 30px);
      transform: translateY(-50%);
      cursor: pointer;
      display: none;
      @media (prefers-color-scheme: dark) {
        filter: invert(0.8);
      }
    }
    .swipe-control--left {
      left: -40px;
      &:hover {
        left: -41px;
        filter: drop-shadow(1px 0 color(primary));
      }
    }
    .swipe-control--right {
      right: -40px;
      transform: translateY(-50%) scale(-1);
      &:hover {
        right: -39px;
        filter: drop-shadow(-1px 0 color(primary));
      }
    }
    &-list {
      overflow: hidden;
      > ul {
        padding-top: 20px;
        margin-left: -20px;
        display: flex;
        transition: all 0.2s;
      }
    }
  }
}
