@import 'common/style/index.scss';
.swip {
  position: relative;
  @media (max-width: 1370px) {
    &:hover {
      .swip-control--left,
      .swip-control--right {
        display: unset;
      }
    }
  }
  &-control--left,
  &-control--right {
    position: absolute;
    top: calc(50% - 10px);
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
    @media (prefers-color-scheme: dark) {
      filter: invert(0.8);
    }
  }
  &-control--left {
    left: -40px;
    &:hover {
      left: -41px;
      filter: drop-shadow(1px 0 color(primary));
    }
  }
  &-control--right {
    right: -40px;
    transform: translateY(-50%) scale(-1);
    &:hover {
      right: -41px;
      filter: drop-shadow(1px 0 color(primary));
    }
  }
  .swip-content {
    overflow: hidden;
    .swip_list {
      display: flex;
      padding-top: 21px;
      margin-left: -20px;
      .playlist-cover {
        width: 16.67%;
        flex-shrink: 0;
        font-size: 13px;
        padding-left: 20px;
        &-content {
          position: relative;
          width: 100%;
          margin-bottom: 12px;
          font-size: 12px;
          transition: all 0.2s;
          &:hover {
            transform: translateY(-10px);
            cursor: pointer;
            .playlist-cover-content--bg {
              filter: brightness(0.6);
            }
            .playlist-cover-content--control {
              opacity: 1;
            }
            .listeners {
              display: none;
            }
          }
          &--bg {
            width: 100%;
            border-radius: 10px;
            transition: all 0.2s;
          }
          &--control {
            position: absolute;
            top: 50%;
            left: 50%;
            opacity: 0;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            transition: all 0.2s;
            padding-bottom: -5px;
            overflow: hidden;
            &:hover {
              filter: invert(0);
              img {
                transform: translateX(-50px);
                filter: drop-shadow(50px 0 color(primary));
              }
            }
          }
          .listeners {
            position: absolute;
            right: 10px;
            bottom: 20px;
            padding: 0 10px 0 8px;
            border-radius: 11px;
            background-color: rgba(5, 5, 5, 0.8);
            .icon {
              filter: invert(1);
              vertical-align: top;
            }
          }
        }
        &--title,
        &--creator {
          display: inline-block;
          width: 100%;
          font-size: 13px;
          font-weight: bold;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        &--creator {
          font-weight: normal;
          color: #8f8f8f;
        }
        @media (max-width: 1370px) {
          width: 20%;
        }
        @media (max-width: 1190px) {
          width: 25%;
        }
      }
    }
  }
  .swiped {
    @media (max-width: 1370px) {
      transform: translateX(-100%);
    }
  }
}
