@import 'common/style/index.scss';

.banner {
  position: relative;
  width: 100%;
  &:hover {
    .banner-control--left,
    .banner-control--right {
      display: unset;
    }
  }
  &-control--left,
  &-control--right {
    position: absolute;
    top: calc(50% - 20px);
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
    @media (prefers-color-scheme: dark) {
      filter: invert(0.8);
    }
  }
  &-control--left {
    left: -40px;
    &:hover {
      left: -41px;
      filter: drop-shadow(1px 0 color(primary));
    }
  }
  &-control--right {
    right: -40px;
    transform: translateY(-50%) scale(-1);
    &:hover {
      right: -41px;
      filter: drop-shadow(1px 0 color(primary));
    }
  }
  &-content {
    position: relative;
    overflow: hidden;
    padding-bottom: 30px;
    box-sizing: content-box;
    &-list {
      position: relative;
      display: inline-flex;
      margin: 0;
      padding: 0;
      transition: all 0.2s linear;
      &-item {
        width: calc((100vw - 310px) / 2);
        margin: 0 10px;
        flex-shrink: 0;
        overflow: hidden;
        @media (min-width: 1610px) {
          width: calc((100vw - 330px) / 3);
        }
        &:first-child {
          margin-left: 0;
        }
        img {
          width: 100%;
          border-radius: 10px;
        }
      }
    }
    .banner-dot {
      position: absolute;
      left: 50%;
      bottom: 0;
      display: flex;
      margin: 0;
      padding: 0;
      transform: translateX(-50%);
      &-item {
        width: 8px;
        height: 8px;
        border-radius: 4px;
        margin: 0 5px;
        background: #626263;
        &.highlight {
          background: #d2d2d2;
        }
      }
    }
  }
}
