@import './common/style/index.scss';

.App {
  display: grid;
  grid-template-columns: 210px auto;
  height: 100vh;
  color: color(textColor);
  box-sizing: border-box;
  user-select: none;
  * {
    box-sizing: border-box;
  }
  .drag {
    height: 75px;
    -webkit-app-region: drag;
  }
}
